#wrapper{
			width:950px;
			height:400px;
			text-align:center;
			margin-left:auto;
			margin-right:auto;
			background-color:darkgray;
			-moz-border-radius: 20px;
			-webkit-border-radius: 20px;
			-khtml-border-radius: 20px;
			border-radius: 20px;
			padding-top:5px;
			margin-top:25px;
			padding-left:25px;
			padding-right:25px;
			
			}
			
#panel1 {
			width:300px;
			height:300px;
			background-color:black;
			border: 4px solid white;
			-moz-border-radius: 20px;
			-webkit-border-radius: 20px;
			-khtml-border-radius: 20px;
			border-radius: 20px;
			margin-top:5px;
			float:left;
			margin-right:5px;
			margin-left:9px;
					
		}
			
			
#panel2 {
			width:300px;
			height:300px;
			background-color:black;
			border: 4px solid white;
			-moz-border-radius: 20px;
			-webkit-border-radius: 20px;
			-khtml-border-radius: 20px;
			border-radius: 20px;
			margin-top:5px;
			float:left;
			margin-right:5px;
			}
			
			
#panel3 {
			width:300px;
			height:300px;
			background-color:black;
			border: 4px solid white;
			-moz-border-radius: 20px;
			-webkit-border-radius: 20px;
			-khtml-border-radius: 20px;
			border-radius: 20px;
			margin-top:5px;
			float:left;
			}
			
@-webkit-keyframes fader {
    0% { opacity: 0; width:0px; }
    75% { opacity: 0.5; width:150px; background-color:lightblue;}
    100% { opacity: 1;width:300px; background-color:black;} 
	}
	
@-webkit-keyframes faderimg {
    0% { opacity: 0; width:0px; }
    75% { opacity: 0.5; width:120px; }
    100% { opacity: 1;width:250px; } 
	}
	



.fader1 {
    -webkit-animation-name: fader;
    -webkit-animation-duration: 1s;
	-webkit-animation-fill-mode:backwards;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
} 


.fader2 {
    -webkit-animation-name: fader;
    -webkit-animation-duration: 1s;
	-webkit-animation-fill-mode:backwards;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-delay: 5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
} 

.fader3 {
    -webkit-animation-name: fader;
    -webkit-animation-duration: 1s;
	-webkit-animation-fill-mode:backwards;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-delay: 10s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
} 

.faderimg1 {
	margin-top:25px;
    -webkit-animation-name: faderimg;
    -webkit-animation-duration: 2s;
	-webkit-animation-fill-mode:backwards;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
} 

.faderimg2 {
	margin-top:25px;
    -webkit-animation-name: faderimg;
    -webkit-animation-duration: 2s;
	-webkit-animation-fill-mode:backwards;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-delay: 5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
} 

.faderimg3 {
	margin-top:25px;
    -webkit-animation-name: faderimg;
    -webkit-animation-duration: 2s;
	-webkit-animation-fill-mode:backwards;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-delay: 10s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
} 